h1{
    color:violet;
    background-color: red;
}
h2{
    color:rgb(255, 7, 222);
    background-color: orange;
}
h3{
    color:#3b18ff80;
    background-color: yellow;
}
h4{
    color:#c94f52;
    background-color: green;
}
h5{
    color:#FF0;
    background-color: blue;
}
h6{
    color:#F608;
    background-color: indigo;
}
p{
    color:rgb(255, 0, 0, 0.8);
    background-color: violet;
}
#item1{
    color:hotpink
}
#item3{
    background-color: peachpuff;
}
#item1, #item3{
    border: 5px, solid, green;
}
